button {
    cursor: pointer;
}

.btn {
    --primary-color: #222831;
    border: none;
    background-color: unset;
    transition: 0.2s ease-in-out;

    &.filled {
        border-radius: 10px;
        background-color: var(--primary-color);
        height: 36px;
        font-size: 12px;
        min-width: 100px;
        padding: 0rem 1rem;
        color: white;
    }

    &.outline {
        border-radius: 10px;
        outline: 1px solid var(--primary-color);
        background-color: transparent;
        height: 36px;
        font-weight: 600;
        font-size: 12px;
        min-width: 100px;
        padding: 0rem 1rem;
    }

    &:hover {
        opacity: 0.8;
    }
}
